@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1 class="text-center">ยืนยันการจัดส่งอาหาร</h1><br /><br />
<div class="text-center">
<img src="https://img.japankuru.com/prg_img/img/img2021021916410799299600.png" width="800px;" height="500px;">
<br /><br /><br /><br />
<a class="btn btn-outline-success" asp-area="" asp-controller="User" asp-action="Index">success</a>
</div>
